{% extends 'back/layout.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block subbody %}
    <article class="backoffice-traveler">
        <div class="card w-100 mb-3" id="card-container">
            <div class="card-body" id="card-body-container">
                <h1 class="backoffice-h1">Voyageur :</h1>

                <div class="traveler-profile backoffice">
                    <div class="traveler-id"> Id : <em class="traveler-value">{{ traveler.id }} </em>
                    </div>
                    <div class="traveler-name"> Prénom : <em class="traveler-value">{{ traveler.name }} </em>
                    </div>
                </div>

                <div class="btn-container">
                    <a href="{{ path('app_back_traveler_index') }}">
                        <button class="btn btn-custom btn-backoffice">Retour</button>
                    </a>

                    <a href="{{ path('app_back_traveler_edit', {'id': traveler.id}) }}">
                        <button class="btn btn-custom btn-backoffice" id="btn-modify-2">Modifier</button>
                    </a>

                    {{ include('back/traveler/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}
