{% extends 'base.html.twig' %}

{% block body %}

    <section class="travel-add-form">
        <div class="card w-100 mb-3" id="card-container">
            <div class="card-body" id="card-body-container">
                <h1 class="card-title">Ajouter un voyage</h1>
                
                {# form options #}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'ma-classe'}}) }}

                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.picture) }}
                    {{ form_row(form.travelerNumber) }}

                    <h2 class="subForm-title">Voyageur(s)</h2>
                    <p>Pour ajouter des voyageurs au voyage : <br> Cliquez sur Ajouter un voyageur si vous n'avez jamais voyagé avec, sinon, sélectionnez son nom dans votre liste. <br></p>
                    
                    <h2 class="subForm-title"> Nouveau(x) voyageur(s) </h2>
                    <ul class="travelers"
                    data-index="{{ form.travelers|length > 0 ? form.travelers|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.travelers.vars.prototype)|e('html_attr') }}"
                    >
                        {% for traveler in form.travelers %}
                            <li> {{ form_row(traveler.name) }} </li>
                        {% endfor %}
                    </ul>

                    {# {{ form_row(form.userTravelers) }}               #}

                    <button class="btn btn-custom" type="submit">Ajouter le voyage</button>
                    
                {{ form_end(form) }}

            </div>
        </div>
    </section>

{% endblock %}