{% extends 'base.html.twig' %}

{% block body %}

    <section class="article">
        <div class="card w-100 mb-3" id="card-container">
            <div class="card-body" id="card-body-container">
                <div class="article_detail_container">

                    <img src="{{ asset(article.picture) }}" class="card-img-top" alt="Photo {{ article.title }}">
                    <div class="card-body">
                        <h1 class="card-title" id="first-title">{{ article.title }}</h1>
                        <p class="card-text">{{ article.content}}</p>

                        <div class="tip-sub-title-container">
                            <h2 class="card-title" id="sub-title"> Astuces </h2>
                            <a href="#">
                                <button class="btn btn-custom" id="btn-add">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                    </svg>
                                Ajouter</button>
                            </a>
                        </div>
                        

                        {% for tip in articleTips %}
                        <div class="card card-tip">
                            <div class="card-header">
                                {{ tip.title }}
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                <p class="card-text"> {{ tip.content }} </p>
                                <footer class="blockquote-footer">
                                    {{ tip.published_date ? tip.published_date|date('d-m-Y') : '' }}
                                    <cite title="Source Title"> {{ tip.nickname }}
                                    </cite>
                                    
                                    <a href="{{ path('front_tip_like', {'id': tip.id}) }}" class="btn btn-link js-like">
                                        {% for tipLike in tips %} {# for each tip in th array with all tips (not according to article or user #}

                                            {% if tip.id == tipLike.id %} {# if the id of tip correspond to the id of tip in the array with tips by user and article #}
                                                {% if app.user and tipLike.isLikedByUser(app.user) %} {# if the user have likes #}
                                                    <i class="fa-sharp fa-solid fa-thumbs-up"></i> {# colored thumb #}
                                                {% else %}
                                                    <i class="fa-regular fa-thumbs-up"></i> {# empty thumb #}
                                                {% endif %}
                                        
                                                <span class="js-likes">{{ tipLike.likes | length }}</span> {# show likes number #} 
                                            {% endif %}
                                            
                                        {% endfor %}

                                        <span class="js-label">J'aime</span>
                                    </a>

                                </footer>
                                </blockquote>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                </div>

            </div>
        </div>

    </section>

{% endblock %}

