{% extends 'back/layout.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block subbody %}
    <article class="backoffice-sub-homepage">
        <h1 class="backoffice-h1">Tous les voyages :</h1>

        <table class="table" id="backoffice-table">
            <thead>
                <tr>
                    <th id="id-th">Id</th>
                    <th>Titre</th>
                    <th>Début</th>
                    <th>Fin</th>

                </tr>
            </thead>
            <tbody>
            {% for travel in travel %}
                <tr>
                    <td>{{ travel.id }}</td>
                    <td>{{ travel.title }}</td>
                    <td>{{ travel.startDate ? travel.startDate|date('d-m-Y') : '' }}</td>
                    <td>{{ travel.endDate ? travel.endDate|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-link">
                            <a href="{{ path('app_back_travel_show', {'id': travel.id}) }}">
                                <button class="btn btn-custom btn-backoffice btn-read">Lire</button>
                            </a>
                            <a href="{{ path('app_back_travel_edit', {'id': travel.id}) }}">
                                <button class="btn btn-custom btn-backoffice" id="btn-modify-2">Modifier</button>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_back_travel_new') }}">
            <button class="btn btn-custom btn-backoffice btn-backoffice-add">Ajouter un nouveau voyage</button>
        </a>
    <article>
{% endblock %}
